.body{
    width: 1160px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

 .containers{
    width: 1160px;
    height: 165px;
    gap: 40px;   
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .faq{
    width: 1160px;
    height: 317px;
    display: flex;
    flex-direction: column;
 }

 .faq p{
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 24px;
 }

 .questions{
    width: 1160px;
    height: 231px;
    display: flex;
    flex-direction: column;
    gap: 8px;
 }