.headerСontainer {
    height: 69px;
    width: 1160px;
    display: flex;
    align-items: center;
    gap: 497px;
 }
 
 .content{
    width: 663px;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 32px;
 }
 
 .logoСontainer{
    display: flex;
    align-items: center;
    height: 25px;
    width: 155px;
 }
 
 .logo{
    font-size: 32px;
    color: #5D3C64;
    font-family: "Inter", sans-serif;
 }
 
 .navigation{
    display: flex;
    align-items: center;
    height: 20px;
    width: 145px;
    gap: 32px;
 }
 
 .mainNav{
    margin-top: 5px;
    width: 57px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    cursor: pointer;
 }
 .catalogNav{
    margin-top: 5px;
    width: 56px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    cursor: pointer;
 }
 
 .containerButtonHeader{
    width: 223px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 23.6px;
 }
 
 .deliveryButton{
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    background-color: white;
    cursor: pointer;
 }
 
 .loginButton{
    width: 80px;
    height: 35px;
    border-radius: 8px;
    border: none;
    border-radius: 22px;
    background-color: rgb(93, 60, 100);
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
 }
 
 